* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  font-family: "Lato", sans-serif;
  /* color: #999999 !important; */
  scroll-behavior: smooth;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 700px;
  background-color: #f1f1f1;
  background-image: url('image/red-wall2.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
}


div.content {
  margin-left: 700px;
  /* padding: 1px 16px; */
  height: 1000px;
}

.text {
  font-family: 'Permanent Marker', cursive !important;
}

.pas-foto {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.card {
  border-radius: 20px !important;
}

input {
  border-radius: 20px;
}

.card-hover:hover {
  filter: drop-shadow(0 0 5px #e77672);
}

.judul {
  color: red;
}

.btn-primary {
  background-color: red !important;
  color: white;
  border: none !important;
}

.btn {
  border-radius: 20px !important;
}

.img1 {
  /* border: 1px solid black; */
  /* display: block;
    margin: 0 auto;
    vertical-align: middle; */

  top: 20%;
  left: 30%;
}

.btn-primary:hover {
  background-color: rgb(230, 73, 73) !important;

}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  div.content {
    margin-left: 0;
    width: 100% !important;
    height: auto;
    padding: 0 !important;
  }

  /* .img_ninja{
      width: 100% ;
      margin-top: 150px;
    }
    .teks{ padding-top: 150px !important;} */
  div.container {
    padding: 15px !important;
  }
  .img_qr{
    width: 300px !important;
  }
  div.scrollmenu a {
    justify-content: left;
  }
  .page1{
    margin-top: 150px !important;
  }
  
  .card {
    width: 25rem !important;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100% !important;
    height: 100vh;
    position: relative;
  }
  .page1{
    margin-top: 150px !important;
  }
  div.content {
    margin-left: 0;
    width: 100% !important;
    height: auto;
    padding: 0 !important;
  }

  div.container {
    padding: 10px !important;
  }

  div.scrollmenu a {
    justify-content: left;
  }

  .card {
    width: 18rem !important;
  }

  .img_bank {
    width: 200px
  }
}